{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Prijs</th>
            <th scope="col">Aantal</th>
            <th scope="col">Beschrijving</th>
        </tr>
        </thead>
        <tbody>
        {%   set cart_totaal = 0 %}
        {% for array in cart %}
            <tr>
                <td>{{ array.name }}</td>
                <td>€ {{ array.price }}</td>
                <td>{{ array.aantal }}</td>
                <td>{{ array.beschrijving }}</td>
                {% set cart_totaal = cart_totaal + (array.aantal * array.price) %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center";>
        <h3 >Totaal: € {{ cart_totaal }}</h3>
        <a class="btn btn-primary" href="#" role="button">Checkout</a>
    </div>
{% endblock %}